a {
  color: red;
  font-family: Tahoma;
  font-size: 20px;
  padding: 20px;
}
a:link {
  text-decoration: none;
  background: rgba(102, 207, 16, 0.651);
}
a:visited {
}
a:hover {
  background: royalblue;
  color: lightblue;
}
a:active {
  background: rgb(245, 5, 153);
  color: black;
}
